G8 App/Connected Services/G8AppService/G8Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="G8Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53082/G8Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53082/G8Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53082/G8Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IG8Service_NuevoTest_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevoTest" />
  </wsdl:message>
  <wsdl:message name="IG8Service_NuevoTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevoTestResponse" />
  </wsdl:message>
  <wsdl:message name="IG8Service_EditarTest_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarTest" />
  </wsdl:message>
  <wsdl:message name="IG8Service_EditarTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarTestResponse" />
  </wsdl:message>
  <wsdl:message name="IG8Service_ListarTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTest" />
  </wsdl:message>
  <wsdl:message name="IG8Service_ListarTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IG8Service">
    <wsdl:operation name="NuevoTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IG8Service/NuevoTest" message="tns:IG8Service_NuevoTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IG8Service/NuevoTestResponse" message="tns:IG8Service_NuevoTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IG8Service/EditarTest" message="tns:IG8Service_EditarTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IG8Service/EditarTestResponse" message="tns:IG8Service_EditarTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IG8Service/ListarTest" message="tns:IG8Service_ListarTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IG8Service/ListarTestResponse" message="tns:IG8Service_ListarTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IG8Service" type="tns:IG8Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevoTest">
      <soap:operation soapAction="http://tempuri.org/IG8Service/NuevoTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarTest">
      <soap:operation soapAction="http://tempuri.org/IG8Service/EditarTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTest">
      <soap:operation soapAction="http://tempuri.org/IG8Service/ListarTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="G8Service">
    <wsdl:port name="BasicHttpBinding_IG8Service" binding="tns:BasicHttpBinding_IG8Service">
      <soap:address location="http://localhost:53082/G8Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>