Connected Services/G8AppService/G8Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53082/G8Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="NuevoTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="a" nillable="true" type="q1:myTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevoTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevoTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="a" nillable="true" type="q2:myTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarTestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarTestResult" nillable="true" type="q3:ArrayOfmyTest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>